body,
html {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

#left_menu,
#right_menu {
  width: 350px;
}

.page-wrapper {
  flex-direction: initial;
  display: flex !important;
}

#container {
  flex-grow: 1 !important;
}

.df {
  display: flex;
}

.mr-05 {
  margin-right: 0.5rem;
}

.ml-1 {
  margin-left: 1rem;
}

.m-1 {
  margin: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 4rem;
}

.m-0 {
  margin: 0;
}

.aic {
  align-items: center;
}

.list-group-item {
  padding: 0.5rem 1rem;
}

.list-group-item.active {
  border-left: 2px solid #206bc4 !important;
}

.container-xxxl {
  max-width: 1720px;
  padding-right: var(--tblr-gutter-x, 1.5rem);
  padding-left: var(--tblr-gutter-x, 1.5rem);
  margin-right: auto;
  margin-left: auto;
}

.row-deck > [class*="col-"] {
  align-self: flex-start;
}

.center-image {
  margin: auto;
  display: block;
}

.cursor_pointer:hover {
  cursor: pointer;
}

.fr {
  float: right;
}

.center-image-flex {
  display: flex;
  align-content: center;
  justify-content: center;
}

.no-style:hover {
  text-decoration: none;
}

.center-text-card-top {
  justify-content: center;
  display: flex;
}

.fake-link:hover {
  text-decoration: underline;
}
